// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Color system
@use "sass:color";

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;
$primary:       #0d6efd !default;
$secondary:     $gray-600 !default;
$success:       #198754 !default;
$info:          #0dcaf0 !default;
$warning:       #ffc107 !default;
$danger:        #dc3545 !default;
$light:         $gray-100 !default;
$dark:          $gray-900 !default;
$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
) !default;

// Options
$enable-rounded:            true !default;
$enable-shadows:            false !default;
$enable-gradients:          false !default;
$enable-transitions:        true !default;
$enable-reduced-motion:     true !default;
$enable-smooth-scroll:      true !default;
$enable-grid-classes:       true !default;
$enable-button-pointers:    true !default;
$enable-rfs:               true !default;
$enable-validation-icons:   true !default;
$enable-negative-margins:   false !default;
$enable-deprecation-messages: true !default;
$enable-important-utilities: true !default;

// Spacing
$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
) !default;

// Body
$body-bg:                   $white !default;
$body-color:                $gray-900 !default;
$body-text-align:           null !default;

// Links
$link-color:                              $primary !default;
$link-decoration:                         underline !default;
$link-hover-color:                        color.adjust($link-color, $lightness: -15%) !default;
$link-hover-decoration:                   null !default;

// Grid breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
) !default;

// Grid containers
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
) !default;

// Grid columns
$grid-columns:                12 !default;
$grid-gutter-width:           1.5rem !default;
$grid-row-columns:            6 !default;

// Components
$border-width:                1px !default;
$border-color:                $gray-300 !default;
$border-radius:               .25rem !default;
$border-radius-sm:            .2rem !default;
$border-radius-lg:            .3rem !default;
$border-radius-pill:          50rem !default;

// Box shadows
$box-shadow-sm:                      0 .125rem .25rem rgba($black, .075) !default;
$box-shadow:                         0 .5rem 1rem rgba($black, .15) !default;
$box-shadow-lg:                      0 1rem 3rem rgba($black, .175) !default;

// Typography
$font-family-sans-serif:      system-ui, -apple-system, "Segoe UI", roboto, "Helvetica Neue", arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace:       sfmono-regular, menlo, monaco, consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:           $font-family-sans-serif !default;
$font-size-root:             null !default;
$font-size-base:             1rem !default;
$font-size-sm:               $font-size-base * .875 !default;
$font-size-lg:               $font-size-base * 1.25 !default;
$font-weight-lighter:         lighter !default;
$font-weight-light:          300 !default;
$font-weight-normal:         400 !default;
$font-weight-bold:           700 !default;
$font-weight-bolder:         bolder !default;
$font-weight-base:           $font-weight-normal !default;
$line-height-base:           1.5 !default;
$line-height-sm:             1.25 !default;
$line-height-lg:             2 !default;

// Buttons + Forms
$input-btn-padding-y:         .375rem !default;
$input-btn-padding-x:         .75rem !default;
$input-btn-font-family:       null !default;
$input-btn-font-size:         $font-size-base !default;
$input-btn-line-height:       $line-height-base !default;
$input-btn-focus-width:       .25rem !default;
$input-btn-focus-color-opacity: .25 !default;
$input-btn-focus-color:       rgba($primary, $input-btn-focus-color-opacity) !default;
$input-btn-focus-blur:        0 !default;
$input-btn-focus-box-shadow:  0 0 $input-btn-focus-blur $input-btn-focus-width $input-btn-focus-color !default;
$input-btn-padding-y-sm:      .25rem !default;
$input-btn-padding-x-sm:      .5rem !default;
$input-btn-font-size-sm:      $font-size-sm !default;
$input-btn-padding-y-lg:      .5rem !default;
$input-btn-padding-x-lg:      1rem !default;
$input-btn-font-size-lg:      $font-size-lg !default;

// Alerts
$alert-padding-y:               1rem !default;
$alert-padding-x:               1rem !default;
$alert-margin-bottom:           1rem !default;
$alert-border-width:            $border-width !default;
$alert-border-radius:           $border-radius !default;
$alert-link-font-weight:        $font-weight-bold !default;
$alert-dismissible-padding-r:   3rem !default;

// Navbar
$navbar-padding-y:                  $spacer * .5 !default;
$navbar-padding-x:                  null !default;
$navbar-nav-link-padding-x:         .5rem !default;
$navbar-brand-font-size:            $font-size-lg !default;
$nav-link-height:                   $font-size-base * $line-height-base + $input-btn-padding-y * 2 !default;
$navbar-brand-height:               $nav-link-height !default;
$navbar-brand-padding-y:            $input-btn-padding-y !default;
$navbar-brand-margin-end:           1rem !default;
$navbar-toggler-padding-y:          .25rem !default;
$navbar-toggler-padding-x:          .75rem !default;
$navbar-toggler-font-size:          $font-size-lg !default;
$navbar-toggler-border-radius:      $border-radius !default;
$navbar-toggler-focus-width:        $input-btn-focus-width !default;
$navbar-toggler-transition:         box-shadow .15s ease-in-out !default;
$navbar-dark-color: rgba($white, .75) !default;
$navbar-dark-hover-color: $white !default;
$navbar-dark-active-color: $white !default;
$navbar-dark-disabled-color: rgba($white, .25) !default;
$navbar-dark-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{$navbar-dark-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>") !default;
$navbar-dark-toggler-border-color: rgba($white, .1) !default;
$navbar-light-color: rgba($black, .75) !default;
$navbar-light-hover-color: rgba($black, .9) !default;
$navbar-light-active-color: rgba($black, .9) !default;
$navbar-light-disabled-color: rgba($black, .3) !default;
$navbar-light-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{$navbar-light-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>") !default;
$navbar-light-toggler-border-color: rgba($black, .1) !default;
$navbar-light-brand-color: $navbar-light-active-color !default;
$navbar-light-brand-hover-color: $navbar-light-active-color !default;
$navbar-dark-brand-color: $navbar-dark-active-color !default;
$navbar-dark-brand-hover-color: $navbar-dark-active-color !default;

// Cards
$card-spacer-y:                     $spacer !default;
$card-spacer-x:                     $spacer !default;
$card-title-spacer-y:              $spacer * .5 !default;
$card-border-width:                 $border-width !default;
$card-border-radius:                $border-radius !default;
$card-border-color:                 rgba($black, .125) !default;
$card-inner-border-radius:          subtract($card-border-radius, $card-border-width) !default;
$card-cap-padding-y:                $card-spacer-y * .5 !default;
$card-cap-padding-x:                $card-spacer-x !default;
$card-cap-bg:                       rgba($black, .03) !default;
$card-cap-color:                    null !default;
$card-height:                       null !default;
$card-color:                        null !default;
$card-bg:                           $white !default;
$card-img-overlay-padding:          $spacer !default;
$card-group-margin:                 $grid-gutter-width * .5 !default;

// Modal
$modal-dialog-margin:                .5rem !default;
$modal-dialog-margin-y-sm-up:        1.75rem !default;
$modal-inner-padding:                1rem !default;
$modal-footer-margin:                .25rem !default;
$modal-footer-border-width:          $border-width !default;
$modal-footer-border-color:          $border-color !default;
$modal-sm:                           300px !default;
$modal-md:                           500px !default;
$modal-lg:                           800px !default;
$modal-xl:                           1140px !default;

// Transitions
$transition-base:           all 0.15s ease-in-out !default;
$transition-fade:           opacity 0.15s linear !default;
$transition-collapse:       height 0.35s ease !default;
$transition-modal:         transform 0.3s ease-out !default;

// Z-index master list
$zindex-dropdown: 1000 !default;
$zindex-sticky: 1020 !default;
$zindex-fixed: 1030 !default;
$zindex-modal-backdrop: 1040 !default;
$zindex-offcanvas: 1050 !default;
$zindex-modal: 1060 !default;
$zindex-popover: 1070 !default;
$zindex-tooltip: 1080 !default;

// Navs
$nav-link-padding-y: .5rem !default;
$nav-link-padding-x: 1rem !default;
$nav-link-font-size: null !default;
$nav-link-font-weight: null !default;
$nav-link-color: $link-color !default;
$nav-link-hover-color: $link-hover-color !default;
$nav-link-disabled-color: $gray-600 !default;

// Tabs
$nav-tabs-border-color:              $border-color !default;
$nav-tabs-border-width:              $border-width !default;
$nav-tabs-border-radius:             $border-radius !default;
$nav-tabs-link-hover-border-color:   $gray-200 $gray-200 $nav-tabs-border-color !default;
$nav-tabs-link-active-color:         $primary !default;
$nav-tabs-link-active-bg:            $body-bg !default;
$nav-tabs-link-active-border-color:  $nav-tabs-border-color $nav-tabs-border-color $nav-tabs-link-active-bg !default;
$nav-tabs-padding-y:                 0.5rem !default;
$nav-tabs-padding-x:                 1rem !default;
$nav-tabs-margin-x:                  0.125rem !default;
$nav-tabs-font-size:                 1rem !default;
$nav-tabs-line-height:               1.5 !default;

// Pills
$nav-pills-border-radius:            $border-radius !default;
$nav-pills-link-active-color:        $white !default;
$nav-pills-link-active-bg:           $primary !default;
