// Modal component styles

// Modal base

.cl-modal {

  position: fixed;

  top: 0;

  left: 0;

  z-index: 1050;

  display: none;

  width: 100%;

  height: 100%;

  overflow: hidden;

  outline: 0;

  &.show {

    display: block;
  }
}

// Modal dialog

.cl-modal-dialog {

  position: relative;

  width: auto;

  margin: 0.5rem;

  pointer-events: none;

  // Modal dialog centered

  &.cl-modal-dialog-centered {

    display: flex;

    align-items: center;

    min-height: calc(100% - 1rem);
  }
}

// Modal content

.cl-modal-content {

  position: relative;

  display: flex;

  flex-direction: column;

  width: 100%;

  pointer-events: auto;

  background-color: #fff;

  background-clip: padding-box;

  border: 1px solid rgb(0 0 0 / 20%);

  border-radius: 0.3rem;

  outline: 0;
}

// Modal backdrop

.cl-modal-backdrop {

  position: fixed;

  top: 0;

  left: 0;

  z-index: 1040;

  width: 100%;

  height: 100%;

  background-color: #000;

  opacity: 0%;

  transition: $transition-fade;

  &.show {

    opacity: 50%;
  }
}

// Modal header

.cl-modal-header {

  display: flex;

  align-items: flex-start;

  justify-content: space-between;

  padding: 1rem;

  border-bottom: 1px solid #dee2e6;

  border-top-left-radius: calc(0.3rem - 1px);

  border-top-right-radius: calc(0.3rem - 1px);

  .cl-modal-title {

    margin-bottom: 0;

    line-height: 1.5;

    font-size: 1.25rem;
  }

  .cl-modal-close {

    padding: 1rem;

    margin: -1rem -1rem -1rem auto;

    background-color: transparent;

    border: 0;

    font-size: 1.5rem;

    font-weight: 700;

    line-height: 1;

    color: #000;

    text-shadow: 0 1px 0 #fff;

    opacity: 50%;

    cursor: pointer;

    &:hover {

      opacity: 75%;
    }

    &:focus {

      outline: none;
    }
  }
}

// Modal body

.cl-modal-body {

  position: relative;

  flex: 1 1 auto;

  padding: 1rem;
}

// Modal footer

.cl-modal-footer {

  display: flex;

  flex-wrap: wrap;

  align-items: center;

  justify-content: flex-end;

  padding: 0.75rem;

  border-top: 1px solid #dee2e6;

  border-bottom-right-radius: calc(0.3rem - 1px);

  border-bottom-left-radius: calc(0.3rem - 1px);

  > * {

    margin: 0.25rem;
  }
}

// Modal sizes

.cl-modal-sm {

  max-width: 300px;
}

.cl-modal-lg {

  max-width: 800px;
}

.cl-modal-xl {

  max-width: 1140px;
}

// Modal fullscreen

.cl-modal-fullscreen {

  width: 100vw;

  max-width: none;

  height: 100%;

  margin: 0;

  .cl-modal-content {

    height: 100%;

    border: 0;

    border-radius: 0;
  }
}

// Responsive modal
@media (width >= 576px) {

  .cl-modal-dialog {

    max-width: 500px;

    margin: 1.75rem auto;

    &.cl-modal-dialog-centered {

      min-height: calc(100% - 3.5rem);
    }
  }
}

// Modal animations

.cl-modal-fade {

  transition: $transition-fade;

  &:not(.show) {

    opacity: 0%;
  }
}

.cl-modal.fade .cl-modal-dialog {

  transform: translate(0, -50px);

  transition: $transition-modal;
}

.cl-modal.show .cl-modal-dialog {

  transform: none;
}
